# Target MQTT Broker WebSocket URL (Laptop acting as broker, e.g. ws://192.168.1.13:8088/mqtt or wss://broker.hivemq.com:8884/mqtt)
NEXT_PUBLIC_MQTT_BROKER_URL=ws://127.0.0.1:8088/mqtt

# Gateway Identity
NEXT_PUBLIC_GATEWAY_ID=ultron-gw-demo-01
NEXT_PUBLIC_RACK_ID=Rack-A
NEXT_PUBLIC_GATEWAY_IP=192.168.1.13

# 2G Simulation Settings (Target Latency < 220ms)
NEXT_PUBLIC_SIMULATED_DELAY_MS=100
NEXT_PUBLIC_PUBLISH_INTERVAL_S=1.0
NEXT_PUBLIC_QOS=0
NEXT_PUBLIC_STRIP_DUPLICATE_LATEST=true
