# Target MQTT Broker WebSocket URL (Laptop acting as broker, e.g. ws://192.168.1.13:8088/mqtt or wss://broker.hivemq.com:8884/mqtt)
NEXT_PUBLIC_MQTT_BROKER_URL=ws://127.0.0.1:8088/mqtt

# Maximum 2G Bandwidth Cap in kbps
NEXT_PUBLIC_2G_MAX_KBPS=120
